body{
    background: url(image/iris2.jpeg);
        no-repeat center center fixed;
    background-size: cover;
}
div{}
.blue{}
h1{
    color:purple;
    text-align: center;
    width: 500px;
    padding: 20px;
    margin: 100px auto;
    font-family: 'Prompt', sans-serif;
    font-size: 3em;
}
table{
    font-family: 'Merriweather', serif;
    color: brown;
    
    
    margin:50px 50px;
    font-size: 2em;
}
button{
    
    display: inline-block;
    text-align: center;
    padding: 12px 30px;
    border: solid 4px rgb(255,60,100);
    margin-left: 120px;
    font-size: 16px;
    text-decoration: none;
    background-color: darksalmon;
    color: crimson;
    font-size: 1em;
}
